<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Board Form</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

    <div class="row-fluid">
        <div class="span12" style="border-bottom:#dadada solid 1px; height:50px; padding:9px 15px 0 15px;">
            <a href="/board/list"><img th:src="@{/images/spring_boot.png}" class="img-rounded" style="height:100%;"/></a>
            <div class="pull-right">
                <a href="/signout" class="btn btn-primary pull-right">로그아웃</a>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span10 offset1">
            <br/>
            <div id="mainHide">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>인덱스</th>
                        <th>서비스 분류</th>
                        <th>제목</th>
                        <th>작성 날짜</th>
                        <th>수정 날짜</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="board : ${boardList}">
                            <td th:text="${board.idx}"></td>
                            <td th:text="${board.boardType.value}"></td>
                            <td><a th:href="'/board?idx='+${board.idx}" th:text="${board.title}"></a></td>
                            <td th:text="${#temporals.format(board.createdDate,'yyyy-dd-MM HH:mm')}"></td>
                            <td th:text="${#temporals.format(board.updatedDate,'yyyy-dd-MM HH:mm')}"></td>
                        </tr>
                    </tbody>
                </table>

                <!-- Pagination -->
                <div class="pagination pagination-centered">
                    <ul class="pagination" th:with="startNumber=${T(Math).floor(boardList.number/10)}*10+1, endNumber=(${boardList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardList.totalPages}">
                        <li><a href="/board/list?page=1">&laquo;</a></li>
                        <li th:style="${boardList.first} ? 'display:none'">
                            <a th:href="@{/board/list(page=${boardList.number})}">&lsaquo;</a>
                        </li>

                        <li th:each="page :${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${boardList.number}+1) ? 'active'">
                            <a th:href="@{/board/list(page=${page})}" th:text="${page}"><span class="sr-only"></span></a>
                        </li>

                        <li th:style="${boardList.last} ? 'display:none'">
                            <a th:href="@{/board/list(page=${boardList.number}+2)}">&rsaquo;</a>
                        </li>
                        <li><a th:href="@{/board/list(page=${boardList.totalPages})}">&raquo;</a></li>
                    </ul>
                </div>
                <!-- /Pagination -->
            </div>

        </div>
    </div>
</body>
</html>